@import "../custom-scss/fonts";
@import "../custom-scss/variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-style: normal;
    font-weight: 400;
    letter-spacing: .25px;
    word-spacing: 1px;
    color: rgba(38, 50, 56, 0.9);
}

.header-3 {
    font-family: $SFProDisplay_Bold;
    margin-bottom: 0;
    font-weight: bold;
    color: #294948;
}

@import "../bootstrap-scss/bootstrap";