@import "../custom-scss/fonts";

//colors
$black: #000000;
$white: #FFFFFF;
$green: #17CE6A;
$gray-800: #294948;


$primary: $white;


// Typography
//font
$SFProDisplay_Bold: "SF-Pro-Display-Bold", sans-serif;

$font-family-base:  'Muli', sans-serif;