@import "../custom-scss/base";


.navbar {
    position: relative;
    width: 100%;
    height: 105px;
    padding: 0 10.188em;
    background: #FFFFFF;

    @include media-breakpoint-down(lg) {
        padding: 0 2.875em;
    }

    @include media-breakpoint-down(md) {
        padding: 0 1.875em;
    }

    .navbar-brand { 
        position: relative;
        z-index: 11111;

        img {
            width: 204.34px;
            height: 40px;

            @include media-breakpoint-down(xs) {
                width: 160px;
            }
        }
    }

    .navbar-toggler {
        color: #294948;
        z-index: 11111;
        padding: 0.25rem 0.5rem;

        .navbar-toggler-icon {
            width: unset;
            height: unset;
            font-size: 1.3em;
        }
    }

    .nav {
        .nav-item .nav-link {
            color: #294948;
            opacity: .6;
            font-size: 1em;
        }
    }

    #menu-content {
        position: absolute;
        width: 100%;
        top: 1em;
        left: 0;
        padding: 100px 1.875em 35px;
        z-index: 1000;

        .navbar-nav {
            align-items: center;

            .nav-item {
                height: 45px;
                width: 100%;
                text-align: center;

                .nav-link {
                    color: #294948;
                    opacity: .6;
                    font-size: 1em;
                }
            }
        }
    }
}

.intro {
    position: relative;
    padding: 2.875em 8.750em;

    @media screen and (max-width: 1355px) {
        padding-left: 6.25em;
        padding-right: 6.25em;
    }

    @include media-breakpoint-down(lg) {
        padding: 3.75em 2.875em;
    }

    @include media-breakpoint-down(md) {
        padding: 3.75em 1.875em;
    }

    &_content {
        position: relative;
        align-items: center;

        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }

        &_text {
            font-family: $SFProDisplay_Bold;
            font-weight: normal;
            font-size: 4.063em;
            color: $gray-800;

            @media screen and (max-width: 1255px) {
                font-size: 3.5em;
            }

            @media screen and (max-width: 1006px) {
                font-size: 3.25em;
            }

            @media screen and (max-width: 912px) {
                font-size: 2.5em;
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.25em;
                text-align: center;
                margin-top: 2.25em;
            }

            @include media-breakpoint-down(xs) {
                font-size: 1.875em;
            }
        }

        &_downloadBtns {
            margin-top: 1.563em;

            @include media-breakpoint-down(sm) {
                justify-content: center;
            }

            .nav-item {
                &:last-child {
                    margin-left: 1.125em;
                }
                
                .nav-link {
                    padding: 0;

                    img {
                        @include media-breakpoint-down(sm) {
                            height: 40px;
                        }

                        @media screen and (max-width: 360px) {
                            height: 30px;
                        }
                    }
                }
            }
        }

        .illustration {
            @include media-breakpoint-down(md) {
                text-align: center;
            }
            
            img {
                @include media-breakpoint-down(xl) {
                    width: 100%;
                }

                @include media-breakpoint-down(sm) {
                    width: 350px;
                }

                @include media-breakpoint-down(xs) {
                    width: 270px;
                }
            }
        }
    }
}

.event {
    position: relative;
    padding: 4.000em 1.0em 8.813em 1.0em;
    background: #EBFFF4;

    &_content {
        position: relative;

        .header-3 {
            font-size: 2.188em;

            @include media-breakpoint-down(xl) {
                font-size: 2em;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1.25em;
            }

        }

        .bodyText {
            position: relative;
            width: 90%;
            max-width: 780px;
            margin: auto;
            margin-top: 1.250em;
            font-size: 1.125em;

            @include media-breakpoint-down(sm) {
                font-size: .9em;
            }
        }

        .scrolling-wrapper {
            position: relative;
            padding-left: 2.5em;
            padding-right: 2.5em;
            margin-top: 4.813em;
            padding-bottom: .447em;
            overflow-x: hidden;
            overflow-y: hidden;
            overflow: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;

            @include media-breakpoint-down(xs) {
                padding-left: 1.5em;
            }

            .card {
                position: relative;
                width: 250px;
                height: 310px;
                background: #FFFFFF;
                box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.06);
                border: 0;
                border-radius: 16px;
                display: inline-block;
                margin-left: .875em;
                

                &:first-child {
                    margin-left: 0;
                }

                &_illustration {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    width: 100%;
                    height: 153px;
                    border-radius: 16px 16px 0px 0px;
                }

                &_text {
                    position: relative;
                    padding: 1em 1.25em;

                    p {
                        margin-bottom: 0;
                    }

                    &_header {
                        position: relative;
                        font-size: 1.25em;
                    }

                    &_details {
                        position: relative;
                        margin-top: .75em;
                        padding: 0.25em 0;
                        color: rgba(41, 73, 72, 0.9);
                        justify-content: space-between;

                        .header {
                            font-weight: 700;
                            margin-bottom: 0.296em;
                        }

                        .left {
                            padding-right: 1.25em;
                        }

                        .right {
                            border-left: 1px solid rgba(0, 0, 0, 0.3);
                            padding-left: 1.25em;
                        }

                    }
                }

                .one {
                    background: linear-gradient(148.62deg, #F74F5A 0%, #FF727A 100%);
                }

                .two {
                    background: linear-gradient(0deg, #30D2D0, #30D2D0);
                }

                .three {
                    background: linear-gradient(0deg, #F3A636, #F3A636), linear-gradient(90deg, #BCD1FF 0%, #89AEFF 100%);
                }

                .four {
                    background: linear-gradient(0deg, #455DBE, #455DBE), #BCD1FF;
                }

                .five {
                    background: linear-gradient(0deg, #313F48, #313F48), linear-gradient(90deg, rgba(188, 209, 255, 0.6) 0%, rgba(137, 174, 255, 0.6) 100%);
                }

                .six {
                    background: linear-gradient(0deg, #27B072, #27B072);
                }
            }
        }

        .scrolling-wrapper::-webkit-scrollbar {
            display: none;
        }
    }
}

.work {
    position: relative;
    padding: 4.000em 1.0em;

    &_content {
        position: relative;

        .header-3 {
            font-size: 2.188em;

            @include media-breakpoint-down(xl) {
                font-size: 2em;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1.25em;
            }

        }
    
        .image {
            position: relative;
    
            img {
                width: 100%;
            }
        }

        .phoneImages {
            position: relative;

            .phoneImage {
                display: flex;
                flex-direction: column;
                justify-content: center;

                img {
                    margin: auto;
                    width: 60%;

                    @include media-breakpoint-down(xs) {
                        width: 75%;
                    }
                }

                p {
                    position: relative;
                    text-align: center;
                    margin-bottom: 0;
                    margin-top: -15%;
                    color: #263238;
                    opacity: .9;
                    font-size: 1.125em;

                    @include media-breakpoint-down(xs) {
                        font-size: 0.938em;
                    }
                }
            }
        }
    }
}

.score {
    position: relative;
    padding: 4.000em 1.0em 1em 1.0em;
    background: #EBFFF4;

    &_content {
        position: relative;

        .header-3 {
            font-size: 2.188em;

            @include media-breakpoint-down(xl) {
                font-size: 2em;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1.25em;
            }

        }

        .bodyText {
            position: relative;
            width: 90%;
            max-width: 600px;
            margin: auto;
            margin-top: 1.250em;
            font-size: 1.125em;

            @include media-breakpoint-down(sm) {
                font-size: .9em;
            }
        }

        .image {
            position: relative;
            margin-top: 3.875em;
            text-align: center;

            img {
                width: 550px;

                @include media-breakpoint-down(lg) {
                    width: 500px;
                }

                @include media-breakpoint-down(md) {
                    width: 400px;
                }

                @include media-breakpoint-down(sm) {
                    width: 300px;
                }

                @include media-breakpoint-down(sm) {
                    width: 260px;
                }
            }
        }
    }
}

.testimonial {
    position: relative;
    padding: 5.125em 6.25em 8.125em 6.25em;

    @include media-breakpoint-down(lg) { 
        padding: 5.125em 1.5em 8.125em 1.5em;
    }

    &_content {
        position: relative;

        .header-3 {
            font-size: 2.188em;

            @include media-breakpoint-down(xl) {
                font-size: 2em;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1.25em;
            }

        }

        .owl-buttons {
            display: none;
        }

        // .owl-wrapper {
        //     @media screen and (max-width: 1199px) {
        //         transform: translate3d(-100px, 0px, 0px) !important;
        //     }
        // }

        .testimonial_cards {
            position: relative;
            margin-top: 3.750em;
            display: flex;
            justify-content: center;

            .owl-item {
                position: relative;
                width: 365px !important;
                height: 418px;
                padding: 2.25em 1.875em;
                border-radius: 16px;
                box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.06);
                margin-left: 2.25em;
                margin-top: .667em;
                margin-bottom: .447em;

                @include media-breakpoint-down(md) {
                    width: 350px !important;
                    height: 350px;
                }

                @media screen and (max-width: 899px) {
                    margin-left: 1em;
                }

                @media screen and (max-width: 400px) {
                    width: 300px !important;
                }

                .testimonial_card {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    img {
                        @include media-breakpoint-down(md) {
                            width: 49px;
                        }
                    }

                    .review {
                        position: relative;
                        font-size: 0.938em;
                        color: #6E798C;
                        margin-top: 1.5em;

                        @include media-breakpoint-down(md) {
                            font-size: 0.875em;
                        }
                    }
    
                    .reviewer {
                        position: relative;
                        display: flex;
                        padding-top: 1.875em;
                        border-top: 2px solid #EBECED;
                        margin-top: auto;
    
    
                        .text {
                            margin-left: 1.063em;
    
                            .header-3 {
                                font-size: 1.25em;

                                @include media-breakpoint-down(md) {
                                    font-size: 1em;
                                }
                            }
        
                            .subText {
                                position: relative;
                                letter-spacing: 0.275em;
                                text-transform: uppercase;
                                opacity: .7;
                                font-size: .625em;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.activity {
    position: relative;
    padding: 6.25em 1.5em 4.25em 1.5em;
    background-color: #EBFFF4;

    &_content {
        position: relative;
        align-items: center;

        .header_container {
            position: relative;
            width: 90%;
            max-width: 420px;
            height: 82px;
            background-color: #294948;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;

            @include media-breakpoint-down(xs) {
                height: 56px;
            }

            .header {
                color: #FFFFFF;
                font-weight: 400;
                font-size: 1.375em;
                margin-bottom: 0;

                @include media-breakpoint-down(xs) {
                    font-size: 1.125em;
                }

                @media screen and (max-width: 360px) {
                    font-size: 1em;
                }
            }
        }

        .countdown {
            position: relative;
            text-align: center;
            margin-top: 4em;

            @include media-breakpoint-down(xs) {
                margin-top: 3em;
            }


            .counter {
                position: relative;
                font-size: 8em;
                font-style: normal;
                font-weight: 300;
                margin-bottom: 0;

                @include media-breakpoint-down(md) {
                    font-size: 6em;
                }

                @include media-breakpoint-down(xs) {
                    font-size: 3.25em;
                }
            }

            .time {
                position: relative;
                text-transform: uppercase;
                font-size: 1.875em;
                letter-spacing: 0.14em;
                font-weight: 200;

                @include media-breakpoint-down(xs) {
                    font-size: 1.125em;
                }
            }
        }
    }
}

.download-from-store {
    position: relative;
    padding: 10.313em 6.25em 6.25em 6.25em;

    @include media-breakpoint-down(lg) {
        padding: 10.313em 2.875em 6.25em 2.875em;
    }

    @include media-breakpoint-down(md) {
        padding: 3.75em 1.875em 5em 1.875em;
    }


    &_content {
        position: relative;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        .illustration {
            @include media-breakpoint-down(sm) {
               text-align: center;
            }

            @media screen and (max-width: 360px) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            img {
                width: 100%;

                @include media-breakpoint-down(md) {
                    width: 370px;
                }

                @include media-breakpoint-down(sm) {
                    width: 305px;
                }

                @media screen and (max-width: 360px) {
                    width: 280px;
                }
            }
        }
        
        .manifest {
            position: relative;
            padding-left: 3.25em;

            @media screen and (max-width: 1018px) {
                padding-left: 2.25em;
            }

            @include media-breakpoint-down(md) {
                padding-left: 1.875em;
            }

            @include media-breakpoint-down(sm) {
                text-align: center;
                padding-left: 15px;
            }
            

            &_text {
                font-family: $SFProDisplay_Bold;
                font-weight: normal;
                font-size: 4.063em;
                color: $gray-800;
    
                @media screen and (max-width: 1328px) {
                    font-size: 3.5em;
                }
    
                @media screen and (max-width: 1080px) {
                    font-size: 3.25em;
                }
    
                @include media-breakpoint-down(md) {
                    font-size: 2.5em;
                    
                }

                @include media-breakpoint-down(sm) {
                    font-size: 2.25em;
                    text-align: center;
                    margin-top: 1.875em;
                }
    
                @include media-breakpoint-down(xs) {
                    font-size: 1.875em;
                }
            }
    
            &_downloadBtns {
                margin-top: 1.563em;
    
                @include media-breakpoint-down(sm) {
                    justify-content: center;
                }
    
                .nav-item {
                    &:last-child {
                        margin-left: 1.125em;
                    }
                    
                    .nav-link {
                        padding: 0;
    
                        img {
                            @include media-breakpoint-down(md) {
                                height: 40px;
                            }
    
                            @media screen and (max-width: 360px) {
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }

        
    }
}

.footer {
    position: relative;
    background-color: #2E4B4B;
    padding: 5.500em 1.5em 6.25em 6.25em;
    color: #ffffff;

    @media screen and (max-width: 1267px) {
        padding-left: 4.25em
    }

    @include media-breakpoint-down(lg) {
        padding-left: 3.25em
    }

    @media screen and (max-width: 360px) {
        padding-left: 2.25em
    }

    &-content {
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }

    a {
        color: #ffffff;
        font-weight: 400;

        &:hover {
            color: #ffffff;
            font-weight: 500;
        }
    }

    .brandLogo .navbar-brand img {
        width: 240px;
    }


    &_items {
        display: flex;
        white-space: nowrap;


        @include media-breakpoint-down(lg) {
            margin-top: 1.875em;
        }

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        .footer_links, .socials {
            margin-left: 7em;

            @media screen and (max-width: 1339px){
                margin-left: 5.5em;
            }

            @include media-breakpoint-down(lg) {
                margin-left: 7em;
            }

            @include media-breakpoint-down(md) {
                margin-left: 3.25em;
            }

            @include media-breakpoint-down(sm) {
                margin-left: 0;
                margin-top: 4em;
            }
        }

        .footer_links {

            .nav .nav-item .nav-link {
                @include media-breakpoint-down(sm) {
                   padding-left: 0;
                }
            }
            
            .nav .nav-item .nav-link:first-child {
                padding-top: 0;
            }
        }

        .socials {
            color: #ffffff;
    
            .nav {
                .nav-item {
                    .nav-link {
                        padding: 0.35rem 1rem;
    
                        &:first-child {
                            padding-left: 0;
                        }

                        img {
                            opacity: .46;
                        }
                    }
                }
            }
    
            .copyright {
                font-size: 0.688em;
                margin-top: 1em;
            }
        }
    }

    
}